.contact {
  padding: 0 100px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f8f8;
}

.contactTitle {
  font-size: 50px;
  font-weight: 400;
}

.contactTop {
  display: flex;
  margin: 50px 0;
}

.contactList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 75px;
  align-items: center;
}

.contactListItem {
  display: flex;
  flex: 4;
  flex-direction: column;
  padding: 15px;
  height: 90px;
  width: 200px;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f1f1f1; */
  margin: 10px;
  cursor: pointer;
}

.contactListItemIcon {
  font-size: 25px;
}

.contactListItem:hover {
  background-color: #02a037;
  color: #fff;
  border-radius: 8px;
}

.contactBottom {
  display: flex;
  width: 800px;
  background: #fff;
  padding: 50px;
  margin-bottom: 100px;
  border-radius: 10px;
}

.contactBottom > form {
  display: flex;
  width: 800px;
  height: 400px;
  position: relative;
}

.contactBottomLeft,
.contactBottomRight {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.contactBottomLeftForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.contactLabel {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contactBottomLeftForm > span {
  display: flex;
  align-items: center;

  margin-right: 30px;
}

.contactBottomLeftForm > span > input {
  width: 100%;
  height: 50px;
  background: transparent;
  padding-left: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.contactBottomLeftForm > span > input:focus {
  border: 2px solid #02a037;
  border-radius: 8px;
}

.contactBottomLeftForm > span:focus {
  border: none;
  border-radius: 8px;
}

.contactBottomLeftIcon {
  position: absolute;
  font-size: 20px;
  margin-left: 15px;
}

.contactBottomRight > textarea {
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  padding: 15px;
  outline: none;
}

.contactBottomRight > textarea:focus {
  border: 2px solid #02a037;
  border-radius: 8px;
}

.contactBottomButton {
  position: absolute;
  /* border: 1px solid #02a037; */
  padding: 25px;
  height: 40px;
  width: 200px;
  align-items: center;
  top: 355px;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  left: 237px;
  background: #02a037;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  border: none;
}
