body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

.link {
  text-decoration: none;
  color: inherit !important;
  /* display: flex;
  align-items: center; */
}

.links {
  text-decoration: none;
  color: inherit;
}